{% extends "base.html" %}

{% block content %}
  <section class = "row">
    <h1> {{blog_query.title}} </h1>
  </section>
  <section class = "row">
    <h3> {{blog_query.author}} Created: {{blog_query.created}}</h3>

  </section>
  <section class = "row">
    <p>
      {{blog_query.content}}
    </p>
    <br>
    <p>{{blog_query.likes}}</p>

    <a href="editPost?blog_post_id={{blog_query.key.id()}}"> Edit comment? </a>
    <a href="deletePost?blog_post_id={{blog_query.key.id()}}"> Delete comment? </a>
    <a href="vote?blog_post_id={{blog_query.key.id()}}&value=1">Upvote!</a>
    <a href="vote?blog_post_id={{blog_query.key.id()}}&value=-1">Downvote!</a>
  </section>

  <hr>

  <form method="post">

    <label>
      <h2> Comment </h2>
      <textarea name="content"></textarea>
    </label>

    <br>
    <input type="submit" >

  </form>

  <br>
  <hr>



  <h1> Latest Comments</h1>
  <hr>

  {% for comment in comments %}
    <h3> {{comment.author}} Date: {{comment.created}}</h3>
    <p>
      {{comment.content}}
    </p>
    <br>
    <p>{{comment.likes}}</p>

    <a href="editPost?blog_post_id={{comment.key.id()}}&parent={{blog_query.key.id()}}"> Edit comment? </a>
    <a href="deletePost?blog_post_id={{comment.key.id()}}&parent={{blog_query.key.id()}}"> Delete comment? </a>
    <a href="vote?blog_post_id={{comment.key.id()}}&parent={{blog_query.key.id()}}&value=1">Upvote!</a>
    <a href="vote?blog_post_id={{comment.key.id()}}&parent={{blog_query.key.id()}}&value=-1">Downvote!</a>
    <br>
  {% endfor %}

{% endblock %}
